@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
@import url(./styles/reset.css);
@import url(./styles/utilities.css);
@import url(./styles/frame.css);
@import url(./styles/background.css);
@import url(./styles/container.css);
@import url(./styles/game-header.css);
@import url(./styles/game-main.css);
@import url(./styles/game-footer.css);

#cheat-panel {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  z-index: 999;
}
