@charset "UTF-8";

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #7aa5b7;
  z-index: -100;
}

#background div {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--x);
  display: block;
  list-style: none;
  width: 4px;
  height: 4px;
  background: #ffffff;
  animation: background-animation var(--duration) linear;
}

@keyframes background-animation {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-120vh) rotate(var(--rotate));
  }
}
