@charset "UTF-8";

#container {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: 2rem auto;
  border: 0.25rem solid #ede4da;
}

#container-background {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  border: 0.25rem solid #353540;
  background: #bdaa97;
}

#container-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0.25rem solid #a88b79;
}

#container-background #title-image {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
}

#container-border {
  position: absolute;
  width: 100%;
  height: 100%;
}

#container-border img {
  --inset: -0.0625rem;
  position: absolute;
  width: 2rem;
}

#container-border img:nth-child(1) {
  top: var(--inset);
  left: var(--inset);
}

#container-border img:nth-child(2) {
  top: var(--inset);
  right: var(--inset);
  transform: rotate(90deg);
}

#container-border img:nth-child(3) {
  bottom: var(--inset);
  left: var(--inset);
  transform: rotate(270deg);
}

#container-border img:nth-child(4) {
  bottom: var(--inset);
  right: var(--inset);
  transform: rotate(180deg);
}
