@charset "UTF-8";

#container {
  --frame-width: 3rem;
  --title-w: calc(var(--frame-width) * 6);
  --title-h: calc(var(--title-w) * 18 / 56);
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: calc(var(--frame-width) * 1.5) auto;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

#container::after {
  content: "";
  background-image: url(../assets/container-title.png);
  background-size: 100% 100%;
  position: absolute;
  top: calc(var(--title-h) * -1.25);
  left: 50%;
  transform: translateX(-50%);
  width: var(--title-w);
  height: var(--title-h);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 568px) {
  #container {
    --frame-width: 2rem;
  }
}

@media (max-width: 480px) {
  #container {
    --frame-width: 1.5rem;
  }
}

@media (max-width: 344px) {
  #container {
    --frame-width: 1.25rem;
  }
}
