@charset "UTF-8";

#container {
  --border-w: 3rem;
  --title-w: calc(var(--border-w) * 6);
  --title-h: calc(var(--title-w) * 18 / 56);
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: calc(var(--border-w) * 1.5) auto;
  padding: var(--border-w) calc(var(--border-w) * 0.5);
  border-image: url(../assets/container-border.png) 10 10 10 10 fill /
    var(--border-w) var(--border-w) var(--border-w) var(--border-w);
  border-width: var(--border-w);
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
}

#container::after {
  content: "";
  background-image: url(../assets/container-title.png);
  background-size: 100% 100%;
  position: absolute;
  top: calc(var(--title-h) * -0.6);
  left: 50%;
  transform: translateX(-50%);
  width: var(--title-w);
  height: var(--title-h);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  #container {
    --border-w: 2rem;
  }
}

@media (max-width: 480px) {
  #container {
    --border-w: 1.5rem;
  }
}
