@charset "UTF-8";

#game-main {
  position: relative;
  width: 100%;
  max-width: 568px;
  margin: 1rem auto;
}

.grid-cell {
  --frame-width: 0.5rem;
  flex: 1;
  color: #d8d8d8;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  transition: all 0.2s ease-out;
}

.grid-cell:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.grid-cell:disabled {
  animation: cell-remove 1s forwards;
}

.grid-cell[data-change] {
  animation: cell-change 2s forwards;
}

.grid-cell:not(:disabled):hover {
  color: #ffffff;
  transform: scale(105%);
}

.grid-cell:not(:disabled):active {
  color: hsl(var(--hue), 50%, 80%);
  transform: scale(110%);
}

#game-main-cover {
  position: absolute;
  background: #d4c2b6;
  opacity: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
}

[data-game-start] #game-main-cover {
  opacity: 0;
}

#restart-button {
  pointer-events: visibleFill;
}

@media (max-width: 568px) {
  .grid-cell {
    border-radius: 0.25rem;
    margin: 0.125rem;
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .grid-cell {
    border-radius: 0.125rem;
    font-size: 3rem;
  }
}

@media (max-width: 344px) {
  .grid-cell {
    border-radius: 0.125rem;
    font-size: 1.75rem;
  }
}

@keyframes cell-change {
  from {
    opacity: 0.3;
    font-size: 0;
    transform: rotateY(0deg);
    animation-timing-function: ease-out;
  }
  50% {
    font-size: 0;
    animation-timing-function: ease-out;
  }
  80% {
    font-size: 8vmin;
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
    animation-timing-function: ease-in;
  }
}

@keyframes cell-remove {
  from {
    font-size: 0;
    animation-timing-function: ease-out;
  }
  50% {
    color: #e4dad0;
    background: #b2a89e;
  }
  to {
    background: #b2aa9e;
    font-size: 0;
    transform: rotateY(180deg) scale(75%);
    cursor: default;
    filter: grayscale(100%);
    animation-timing-function: ease-in;
  }
}
