@charset "UTF-8";

#progress-bar {
  --progress: 1;
  position: relative;
  width: 100%;
  min-width: 10rem;
  margin: 0 auto;
  height: fit-content;
}

#progress-bar::after {
  --padding-x: 2.25%;
  content: "";
  position: absolute;
  top: 38%;
  left: calc(var(--padding-x));
  width: calc(var(--progress) * (100% - var(--padding-x) * 2));
  height: 24%;
  background-color: #8b9150;
  transition: width 0.3s ease-out;
}

#progress-bar-background {
  width: 100%;
}
